{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block content %}
<form class="login" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h3>Login</h3>
    <label  for="username">Username
    <input class="login__input" type="text" id="username" name="username" placeholder="Enter a name"></label>
    <label for="password">Password
    <input class="login__input" type="password" id="password" name="password" placeholder="Enter a password"></label>
    <button class="button">Log In</button>
    <div class="login__item"><a  href="{% url 'register' %}">Don't have an account yet ?</a></div>
</form>
{% endblock %}
