<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Finance APP</title>
    <link
      rel="icon"
      href=""
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href=""
    />
  </head>
  <body>
    <main class="container">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="/" role="button">Home</a>
              <a class="nav__link" href="/transactions" role="button">Transactions</a>
              <a class="nav__link" href="/report" role="button">Report</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="content">
        {% block header %}
        <h1 class="content__title">Welcome to My Finance app !</h1>
        {% endblock %} {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
