<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Finance APP</title>
    <link
      rel="icon"
      href=""
      type="image/x-icon"
    />
    {% load static %}
    <link type="text/css"
      rel="stylesheet"
      href="{% static 'admin/css/vendor/select2/select2.min.css' %}"
    />
  </head>
  <body>
    <main class="container">
      <header class="header">
        <nav class="nav">
          {% if user.is_authenticated %}
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="/" role="button">Home</a> </li>
            <li class="nav__item"><a class="nav__link" href="/transactions" role="button">Transactions</a></li>
            <li class="nav__item"><a class="nav__link" href="{% url 'report' %}" role="button">Report</a> </li>
            <li class="nav__item"><a class="nav__link" href="{% url 'logout' %}" role="button">Logout</a></li>
          </ul>{% else %}
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="/" role="button">Home</a> </li>
            <li class="nav__item"><a class="nav__link" href="{% url 'login' %}" role="button">Login</a></li>
          </ul>{% endif %}
        </nav>
      </header>
      <section class="content">
        {% block header %}
        <h1 class="content__title">Welcome to My Finance app !</h1>
        {% endblock %} {% block content %} {% if messages %}{% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}{% endif %}
        {% endblock %}
      </section>
    </main>
  </body>
</html>
